@{
    ViewData["Title"] = "Transacões Financeiras";
}

<h1>@ViewData["Title"]</h1>

<button type="button" onclick="location.href='@Url.Action("Cadastrar", "Transacao")'" class="btn btn-block btn-primary">Registrar Transacao</button>
<br><br>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Histórico</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Data</th>
        <th></th
        <th></th>
    </tr>

    @{
        foreach(var item in (List<TransacaoModel>)ViewBag.ListaTransacao)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Historico</td>
                <td>@item.Tipo</td>
                <td>@item.Valor</td>
                <td>@item.Data</td>
                <td><button type="button" class="btn btn-block btn-outline-warning" onclick="location.href='@Url.Action("Cadastrar", "Transacao", new { Id = item.Id })'">Editar</button></td>
                <td><button type="button" class="btn btn-block btn-outline-danger" onclick="location.href='@Url.Action("Excluir", "Transacao", new { Id = item.Id })'">Excluir</button></td>
            </tr>
        }
    }
</table>
